*{
    margin: 0;
    padding: 0;
}
body{
    background:url("blur1.jpg");
    background-position: center;
    background-size: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: rgb(69, 145, 69);
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: center;

}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: orangered;
  font-size: 18px;
}

main hr {
  border: 0;
  background: rgb(182, 182, 243);
  height: 1.2px;
  margin: 40px 84px;
}

.left {
  font-size: 2.5rem;
  font-style: italic;
  color: #fefefe;
}


.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:black;
    position: relative;
    text-align: center;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color:green;
}

.content span{
    color:black;
    font-size: 65px;
}

.course{
    width: 90%;
    margin-left: 50px;
    text-align: center;
    padding-top: 100px;
} 
.column img{
height: 50%;
width: 75%;
}
h1{
    font-size: 60px;
    font-weight: 600;
    color:orangered;
}
    
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
    text-align: center;
     margin: 15px 0 30px; 
     gap: 10px;
}
    
.column{
    flex-basis: 30%;
    width: 75%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #ff7200;
}
.column:hover{
     box-shadow: 0 0 20px 0 rgb(0,0,0,0.5);
}
.course-bt{
    width: 150px;
    height: 40px;
    background: orange;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}
.course-bt:hover{
    background: green;
    border: 1px solid white;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
 
  footer{
    background-color: rgb(69, 145, 69);
    padding: 1.5%;
    color: white;
  }
  .svg-inline--fa {
    vertical-align: -0.200em;
  }
  
  .rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.1rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.2875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }
  .foot-p p{
    color: white;
    justify-content: center;
    font-size: 15px;
    text-align: center;
  }

